@*
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="MVC.Module.Views.Detail.cshtml.t4" Version="8.0.0.75" GeneratedDate="7/21/2023" />
// </A4DN_GeneratedInformation>
//===============================================================================================
*@

@using A4DN.Core.MVC.Shared.Infrastructure.Helpers.SmartAdmin
@using A4DN.Core.MVC.Shared.Models

@model BOS.OrderDataEntity.OrderEntity


@using (Html.BeginForm(null, null, FormMethod.Post))
{
  
	ViewBag.AutoAppendIconForKnownDataTypes = true;

	@Html.AntiForgeryToken()

	<div class="smart-form">
		<fieldset>
			@Html.am_FieldControl(model => model.InternalID)
			@Html.am_FieldControl(model => model.CustomerInternalID,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.InternalID1)
			@Html.am_FieldControl(model => model.OrderDateTime)
			@Html.am_FieldControl(model => model.PurchaseOrderNumber)
			@Html.am_FieldControl(model => model.WarehouseInternalID)
			@Html.am_FieldControl(model => model.WarehouseName)
			@Html.am_FieldControl(model => model.DeliveryMemo)
			@Html.am_FieldControl(model => model.ShippingAddressInternalID,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.InternalID11)
			@Html.am_FieldControl(model => model.OrderMemo)
			@Html.am_FieldControl(model => model.Status)
			@Html.am_FieldControl(model => model.SalesPersonInternalID)
			@Html.am_FieldControl(model => model.SalesPersonName)
			@Html.am_FieldControl(model => model.PurchasePoints)
			@Html.am_FieldControl(model => model.CreatedAt)
			@Html.am_FieldControl(model => model.CreatedBy)
			@Html.am_FieldControl(model => model.CreatedWith)
			@Html.am_FieldControl(model => model.LastModifiedAt)
			@Html.am_FieldControl(model => model.LastModifiedBy)
			@Html.am_FieldControl(model => model.LastModifiedWith)
			
		</fieldset>
	</div>

}